.dear1 {
    position: absolute;
    left: 10vw;
    top: 5vh;
    scale: 50%;
    transform-origin: top left;
}

.dear2 {
    position: absolute;
    left: calc(10vw + 140px);
    top: 5vh;
    scale: 50%;
    transform-origin: top left;
}

.logo {
    position: absolute;
    left: 6vw;
    top: calc(5vh + 50px);
    scale: 50%;
    transform-origin: top left;
}

.underline {
    position: absolute;
    left: calc(6vw + 170px);
    top: calc(5vh + 103px);
    scale: 50%;
    transform-origin: top left;
}